.navbar {
  /* background: linear-gradient(135deg, #4A90E2 0%, #357ABD 100%); */
  background-color: #2c3e50;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: white;
}

/* Branding */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbar-brand-accent {
  color: #50E3C2;
  font-weight: 400;
}

/* Desktop nav */
.navbar-links {
  display: flex;
  gap: 12px;
}

.navbar-hamburger {
  display: none;
}


/* Mobile menu */
.mobile-menu {
position: fixed;
  top: 64px;
  right: 0;
  width: 220px;
  height: 100vh;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  z-index: 1000;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }
}
